openapi: 3.2.0
info:
  title: Kriya Onboarding Onboarding API
  description: '# Introduction

    Welcome to Onboarding API, an extension to the existing KriyaPaymentsApi platform that allows partners to automate onboarding process, and to view results of these checks in a simple way.'
  contact:
    name: Support
    url: https://kriya.co/
    email: apisupport@kriya.co
  version: ''
  x-logo:
    url: https://cdn.kriya.co/images/Kriya-Putty-Large.svg
    backgroundColor: '#00283C'
    altText: Kriya Logo
servers:
- url: https://api.kriya.dev/onboarding/
  description: Test Environment
- url: https://api.kriya.co/onboarding/
  description: Production Environment
tags:
- name: Onboarding API
paths:
  /create:
    get:
      tags:
      - Onboarding API
      summary: Create a blank Onboarding Journey without any details
      description: Create a blank Onboarding Journey without any details. However, if an Onboarding Journey already exists and all its associated additional Checks remain incomplete (either not initiated or in 'Pending' or 'Submitted' statuses), a new journey won't be initiated. Instead, the response will provide a link to the pre-existing journey.
      operationId: CreateBlankOnboardingJourney
      responses:
        '302':
          description: No description
          x-ms-summary: Redirects to newly created or preexisting Onboarding Journey
  /onboardingJourney:
    post:
      tags:
      - Onboarding API
      summary: Create an Onboarding Journey for when the company is not yet onboarded
      description: Create an Onboarding Journey for companies that haven't been onboarded yet. However, if an Onboarding Journey already exists and all its associated checks remain incomplete (either not initiated or in 'Pending' or 'Submitted' statuses), a new journey won't be initiated. Instead, the response will provide a link to the pre-existing journey.
      operationId: CreateOnboardingJourney
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createOnboardingJourneyRequest'
        required: true
      responses:
        '201':
          description: Payload of CreateOnboardingJourneyResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createOnboardingJourneyResponse'
        '401':
          description: Payload of ProblemDetails
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/problemDetails'
        '400':
          description: Payload of ProblemDetails
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/problemDetails'
components:
  schemas:
    iError:
      type: object
      properties:
        reasons:
          type: array
          items:
            $ref: '#/components/schemas/iError'
    onboardingJourney:
      type: object
      properties:
        completeUrl:
          type: string
          description: The URL that the Onboarding Journey will redirect to if the director completes the journey.
        ineligibleUrl:
          type:
          - string
          - 'null'
          description: The URL that the Onboarding Journey will redirect to if the company doesn't pass eligibility check.
        abandonedUrl:
          type: string
          description: The URL that the Onboarding Journey will redirect to if the director decides to leave the journey.
        inReviewUrl:
          type:
          - string
          - 'null'
          description: The URL that the Onboarding Journey will redirect to if the company doesn't pass automatic eligibility check and requires manual review.
      description: Onboarding Journey information that is required for successful flow.
    createOnboardingJourneyRequest:
      type: object
      properties:
        merchantCompanyIdentifier:
          type:
          - string
          - 'null'
          description: The unique internal identifier of the company for Merchant.
        kriyaCompanyIdentifier:
          type:
          - string
          - 'null'
          description: The unique identifier of the company in Kriya.
          format: uuid
        nationalId:
          type:
          - string
          - 'null'
          description: The national identifier. Right now we support only Company Registration Numbers for GB.
        onboardingJourney:
          $ref: '#/components/schemas/onboardingJourney'
        companyType:
          type:
          - string
          - 'null'
          description: Type of the company.
        requesterEmail:
          type:
          - string
          - 'null'
          description: The email of the user initiating the onboarding journey.
        requesterPhoneNumber:
          type:
          - string
          - 'null'
          description: The phone number of the user initiating the onboarding journey.
    createOnboardingJourneyResponse:
      type: object
      properties:
        onboardingRedirectUrl:
          type:
          - string
          - 'null'
          description: The URL to the created Onboarding Journey.
    problemDetailsError:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    problemDetails:
      type: object
      properties:
        title:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/problemDetailsError'
        date:
          type: string
          format: date-time
        operationId:
          type: string
        message:
          type: string
        metadata:
          type: object
          additionalProperties:
            type: object
        reasons:
          type: array
          items:
            $ref: '#/components/schemas/iError'
        statusCode:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 300
          - 301
          - 301
          - 302
          - 302
          - 303
          - 303
          - 304
          - 305
          - 306
          - 307
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
          default: 100
