openapi: 3.2.0
info:
  title: Kriya Onboarding Scenario API
  description: '# Introduction

    Welcome to Onboarding API, an extension to the existing KriyaPaymentsApi platform that allows partners to automate onboarding process, and to view results of these checks in a simple way.'
  contact:
    name: Support
    url: https://kriya.co/
    email: apisupport@kriya.co
  version: ''
  x-logo:
    url: https://cdn.kriya.co/images/Kriya-Putty-Large.svg
    backgroundColor: '#00283C'
    altText: Kriya Logo
servers:
- url: https://api.kriya.dev/onboarding/
  description: Test Environment
- url: https://api.kriya.co/onboarding/
  description: Production Environment
tags:
- name: Scenario
paths:
  /scenario/onboardingStatus:
    put:
      tags:
      - Scenario
      summary: Update onboarding status for testing purposes.
      description: Update onboarding status for testing purposes. Only available in the staging environment.
      operationId: UpdateOnboardingStatusScenario
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateOnboardingStatusScenarioCommand'
        required: true
      responses:
        '404':
          description: Payload of ProblemDetails
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/problemDetails'
        '401':
          description: Payload of ProblemDetails
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/problemDetails'
        '400':
          description: Payload of ProblemDetails
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/problemDetails'
        '200':
          description: No description
components:
  schemas:
    problemDetailsError:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    updateOnboardingStatusScenarioCommand:
      type: object
      properties:
        merchantCompanyIdentifier:
          type: string
        onboardingStatus:
          type: string
    problemDetails:
      type: object
      properties:
        title:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/problemDetailsError'
        date:
          type: string
          format: date-time
        operationId:
          type: string
        message:
          type: string
        metadata:
          type: object
          additionalProperties:
            type: object
        reasons:
          type: array
          items:
            $ref: '#/components/schemas/iError'
        statusCode:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 300
          - 301
          - 301
          - 302
          - 302
          - 303
          - 303
          - 304
          - 305
          - 306
          - 307
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
          default: 100
    iError:
      type: object
      properties:
        reasons:
          type: array
          items:
            $ref: '#/components/schemas/iError'
